<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AptiTest</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="home-container">

        <div class="logo">
            Apti<span>Test</span>
        </div>

        <h1>
            Test Your<br>
            <span>Aptitude Skills</span>
        </h1>

        <p>
            Practice quantitative aptitude, logical reasoning
            and problem-solving skills.
        </p>

        <form action="/test" method="GET">

            <input
                type="text"
                name="name"
                placeholder="Enter your name"
                required
            >

            <button type="submit">
                Start Test →
            </button>

        </form>

        <div class="info">

            <div>
                <strong>5</strong>
                <span>Questions</span>
            </div>

            <div>
                <strong>5</strong>
                <span>Minutes</span>
            </div>

            <div>
                <strong>100%</strong>
                <span>Free</span>
            </div>

        </div>

    </div>

</body>

</html>